@model IEnumerable<Snow.Web.ViewModel.OrderDetailVM>

@{
    ViewBag.Title = "Sale Items";
}

<h3>Items</h3>


<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Size
        </th>
        <th>
            Qty
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>   
        </tr>
    }

</table>
