@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--
    <h1>Snow Solution</h1>
    <p class="lead">Small business store concept</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    -->
</div>
